<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stortorget</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/style.css}" />


</head>
<body>
<br>
<br>
<br>




<div th:replace="fragments/navbars :: topNavbar"> </div>

<div>

    <form th:action="@{/search_ad}" method="get" autocomplete="off" style="max-width:500px; margin:auto; margin-top:50px;">
        <div class="form-group text-center">

            <input class="form-control" name="search" placeholder="Ange produktnamn eller beskrivning..."></input>
            <select class="mt-4" name="category">
                <option value="all">Alla kategorier</option>
                <option value="books">Böcker</option>
                <option value="music">Musik</option>
                <option value="electronics">Elektronik</option>
            </select>
            <p>
            <button type="submit" class="btn btn-primary my-3"><strong>Sök annons</strong></button>
            </p>
        </div>

    </form>
</div>


<div class="ads" th:each="ad, iter: ${ads}" style="max-width:1000px; margin:auto;">

    <div class="card text-dark bg-light mb-5">
        <div class="card-header" th:style="${iter.count} % 2 == 0 ? 'background-color: #caf0f8' : 'background-color: #90e0ef'">
            <h5 style="float: left;" class="card-title"><p th:text="${ad.item}" /></h5>
            <p style="text-align: right; float: right;" th:text="${ad.dateTime}" />
        </div>

        <div class="card-body">

            <div class="container">
            <img class="bigger" th:src="@{${ad.img}}" id="board_ad_img"/>
            </div>

            <p class="card-text" th:text="${ad.description}" />
            <strong>
            <p class="card-text" th:text="${ad.price + ':-'}" />
            </strong>
            <a th:href="@{mailto:{to}(to=${ad.email},subject=${'Ang. ' + ad.item + ' (Din annons på Stortorget)'})}" style="text-align: right; float: right">Kontakta säljaren</a>

        </div>
    </div>




</div>

</body>

</html>