<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create account</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <link rel="stylesheet" th:href="@{/css/style.css}" />



</head>

<body>
<br>
<br>
<br>

<div th:replace="fragments/navbars :: topNavbar"> </div>


<div>
  <h1 id="title">Skapa nytt konto</h1>
</div>
<div id="main" style="height: 7em" class="grid">

  <form th:action="@{/createAcc}" th:object="${usser}" method="GET">
    <input type="text" placeholder="Username" th:field="*{userName}"><br>
    <input type="password" placeholder="Password" th:field="*{password}"><br>
    <input type="text" placeholder="Email" th:field="*{email}"><br>
    <input type="text" placeholder="Phone Number" th:field="*{phone}"><br>
    <input type="text" placeholder="url to image" th:field="*{img}"><br>
    <input class="btn" id="button-right" type="submit" value="Create account">
  </form>

  <form th:action="@{/login}" method="GET">
    <input class="btn" style="float: right" type="submit" value="Login">
  </form>

</div>



</body>
</html>

