<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create account</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <link rel="stylesheet" th:href="@{/css/style.css}" />



</head>

<body>
<br>
<br>
<br>

<div th:replace="fragments/navbars :: topNavbar"> </div>


<div class="mt-4" style="text-align: center;">
  <h3 id="title">Registrera ny användare</h3>
</div>

<div class="border rounded" style="max-width:300px; margin:auto; margin-top:50px; text-align: center;">

  <form th:action="@{/createAcc}" th:object="${usser}" method="GET" autocomplete="off">
    <div class="form-group m-4">Användarnamn
      <input class="form-control" type="text" th:field="*{userName}">
    </div>
    <div class="form-group m-4">Lösenord
      <input class="form-control" type="password" th:field="*{password}">
    </div>
    <div class="form-group m-4">Email
      <input class="form-control" type="text" th:field="*{email}">
    </div>
    <div class="form-group m-4">Telefon
      <input class="form-control" type="text" th:field="*{phone}">
    </div>
    <div class="form-group m-4">URL till bild
      <input class="form-control" type="text" th:field="*{img}">
    </div>
    <div class="form-group m-4">
      <button class="btn btn-primary" id="button-right" type="submit">Skapa användare</button>
    </div>
  </form>

</div>


</body>
</html>

