<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create ad</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <link rel="stylesheet" th:href="@{/css/style.css}" />


</head>

<body>
<br>
<br>
<br>

<div th:replace="fragments/navbars :: topNavbar"> </div>


<div>
  <h1 id="title">Create new ad</h1>
</div>

<div>

  <form th:action="@{/newAd}" th:object="${ads}" method="post">
    <select class="mt-4" name="category">
      <option value="all">Kategori</option>
      <option value="books">Böcker</option>
      <option value="music">Musik</option>
      <option value="electronics">Elektronik</option>
    </select>

    <input type="text" placeholder="Title" th:field="*{item}">
    <input type="text" placeholder="Description" th:field="*{description}">
    <input type="text" placeholder="url to image" th:field="*{img}">
    <input type="text" placeholder="Price" th:field="*{price}">
    <input class="btn" id="button-right" type="submit" value="Skapa annons">
  </form>


</div>

</body>
</html>

