<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stortorget</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/style.css}" />


</head>
<body>
<br>
<br>
<br>

<div th:replace="fragments/navbars :: topNavbar"> </div>

<div class="border rounded" style="max-width:600px; margin:auto; margin-top:50px; text-align: center;">
<div class="mt-4" style="text-align: center;">
    <h3 id="title">Användarinställningar</h3>
</div>

<div>
    <form th:action="@{/updateUser}" th:object="${currentUser}" method="POST" style="max-width:800px; margin:auto; margin-top:50px; text-align: center;">
        <div class="form-group mb-5">
            <label><strong>Lösenord</strong>
                <input class="form-control" type="password" placeholder="********" th:field="*{password}">
            </label><br>
            <label class="mt-2"><strong>E-Mail</strong>
                <input class="form-control" type="text"  th:value="*{email}" th:field="*{email}">
            </label><br>
            <label class="mt-2"><strong>Telefonnummer</strong>
                <input class="form-control" type="text" th:value="*{phone}" th:field="*{phone}">
            </label><br>
            <label class="mt-2"><strong>URL till profilbild</strong>
                <input class="form-control" type="text" placeholder="New Image" th:field="*{img}">
            </label><br>
            <input class="btn btn-primary mt-3" id="button-right" type="submit" value="Spara Ändringar">
        </div>
    </form>

</div>

</div>

<div class="mt-5" style="text-align: center;">
    <h3 id="title2">Mina annonser</h3>
    <i>Klicka på symbolerna i hörnet av en annons för att redigera eller ta bort annonsen</i>
</div>

<div th:each="ad, iter: ${userAds}" style="max-width:1000px; margin:auto;">

    <div class="card text-dark bg-light mb-5">
        <div class="card-header" th:style="${iter.count} % 2 == 0 ? 'background-color: #caf0f8' : 'background-color: #90e0ef'">
            <h5 style="float: left;" class="card-title"><p th:text="${ad.item}" /></h5>
            <p style="text-align: right; float: right;" th:text="${ad.dateTime}" />
        </div>
        <div class="card-body">

            <div class="container">
                <img class="bigger" th:src="@{${ad.img}}" id="board_ad_img"/>
            </div>

            <p class="card-text" th:text="${ad.description}" />
            <strong>
                <p class="card-text" th:text="${ad.price + ':-'}" />
            </strong>

        </div>
        <div>
            <div style="text-align: right; float: right;">
                <form class="card-link" th:action="@{/delete_message/{id}(id=${ad.id})}" method="get">
                    <input class="m-2" type="image" name="submit" onclick="gone()" th:src="@{/images/trash-can.png}" alt="Submit" style="width: 30px;" />
                </form>
            </div>
            <div style="float: right;">
                <form class="card-link" th:action="@{/editAd/{id}(id=${ad.id})}" method="get">
                    <input class="m-2" type="image" name="submit" th:src="@{/images/edit.png}" alt="Submit" style="width: 30px;" />
                </form>
            </div>
        </div>

    </div>




</div>

            <script>
                function gone() {
                    alert("Annons raderad")
                }
            </script>


</body>

</html>