<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stortorget</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/style.css}" />


</head>
<body>
<br>
<br>
<br>

<div th:replace="fragments/navbars :: topNavbar"> </div>


<div id="main" style="height: 7em" class="grid">
<br><br>
    <form th:action="@{/updateUser}" th:object="${currentUser}" method="POST">
        <label>
            <input type="password" placeholder="********" th:field="*{password}">
        </label><br>
        <label>
            <input type="text"  th:value="*{email}" th:field="*{email}">
        </label><br>
        <label>
            <input type="text" th:value="*{phone}" th:field="*{phone}">
        </label><br>
        <label>
            <input type="text" placeholder="New Image" th:field="*{img}">
        </label><br>
        <input class="btn" id="button-right" type="submit" value="Spara Ändringar">
    </form>


</div>


<div th:each="ad, iter: ${userAds}" style="max-width:1000px; margin:auto;">

    <div class="card text-dark bg-light mb-5">
        <div class="card-header" th:style="${iter.count} % 2 == 0 ? 'background-color: #eff0f6' : 'background-color: #d7e3ea'">
            <p th:text="${ad.dateTime}" />
        </div>
        <div class="card-body">

            <img th:src="@{${ad.img}}" id="board_ad_img" alt="img"/>

            <h5 class="card-title"><p th:text="${ad.item}" /></h5>
            <p class="card-text" th:text="${ad.description}" />
            <strong>
            <p class="card-text" th:text="${ad.price}" />
            </strong>
            <p class="card-text" th:text="${ad.id}" />

        </div>

        <div style="text-align: right;">
            <form class="card-link" th:action="@{/delete_message/{id}(id=${ad.id})}" method="get">
                <input type="image" name="submit" onclick="gone()" th:src="@{/images/trash-can.png}" alt="Submit" style="width: 30px;" />
            </form>
        </div>

    </div>




</div>

            <script>
                function gone() {
                    alert("Annons raderad")
                }
            </script>


</body>

</html>